<div class="row recent">
					<div class="col-md-12">
						<div class="section-title">
							<h2>Recent Posts</h2>
						</div>
					</div>
					
					<% @posts.each do |item| %>
						<!-- post -->
						<div class="col-md-4">
							<div class="post">
								<a class="post-img" href="/posts/<%= item.id%>"><img src="<%= item.image%>" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-<%= item.category.id%>" href="category.html"><%= item.category.name%></a>
										<span class="post-date">March 27, 2018</span>
									</div>
									<h3 class="post-title"><a href="/posts/<%= item.id%>"><%= item.title%></a></h3>
								</div>
							</div>
						</div>
						<!-- /post -->
					<% end %>

					<div class="clearfix"></div>
					
					<div class="text-center">
						<%= paginate @posts, theme: 'twitter-bootstrap-3' %>
					</div>

</div>