<%= form_with model: post, local: true, html: { multipart: true } do |form| %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

    <div class="form-group">
    <%= form.label :category_id %>
    <%= form.select :category_id, Category.all.collect {|c| [ c.name, c.id ] }, {include_blank: "--- Danh mục ---"}, { :class => 'form-control' }%>
  </div>

  <div class="form-group post-content">
    <%= form.label :content %>
    <%= form.text_field :content, label: 'Title', type: 'text', class: 'quill_container', rows: 10 %> 
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class: 'form-control', id: "avatar-upload" %>
    <%= form.hidden_field :image_cache %>
    <img id="img_prev" style="width: auto; height:200px" src="#" alt="your image" class="img-thumbnail hidden"/> <br/>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: 'btn btn-warning'%>
  </div>

<% end %>
